@import"./scss/components/colors";
@import "./scss/components/typografy";
@import "./scss/sections/left";

*{
    padding: 0;
    margin: 0;
 
  
}

  html, body{
    overflow-x: hidden;
   } 


@media screen and (max-width:800px) {
    
   
        .left-side{
           width: 100%;
           height: 50%;
            position: static;
          
          
        }
        .profile{
            margin-right: 0rem;
            margin-left: 0rem;
            
            
            h1{
              font-size: 3rem;
              top: 3rem;
            }
           
            
              h2{
                padding-top: 3rem;
               
              }
              p{
               
                font-size: san-serif;
                padding-top: 3rem;
              }
        
       
        }
        
        .lighter{
           
            left: 0rem;
          }
          .education{
              
            left: 2rem;
              
          }
          .certifications{
  
            
            position: relative;
            left: 2rem;
            top: 10rem;
           
          
        }
}