.container{
.email{
    position: relative;
    top: 13rem;
    left: 20rem;
   background-color: $timeline-color;
   box-shadow: 0px 20px 73px -10px rgba(95, 101, 173, 0.676);
   border-radius: .1rem;
   color: $p-color;
   font-family: $font-1;
  height: 10%;
  max-width: 50%;
  border-radius:3rem;
  .btn{
     margin-top:3rem;
      margin-bottom:5rem;
      margin-left:6rem;
      width: 75%;
      background-color:  $hover-color;
      border-radius: 3rem;
  }
  .btn:hover{
    
    background-color:  $timeline-color;
    }
 .form{
     height: 3rem;
 }

.text{
  position: relative;
    
    text-align: center;
    color: $hover-color;
    font-weight: bold;
    font-size: 4vw;
    font-family: $font-stack;
}
}
}